
.square {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: var(--grey-hover-button);
  color: var(--light-almond);
  border: 2px solid var(--light-almond-2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: var(--grey-button);
}

.square:disabled {
  background-color: var(--deeper-charcoal);
  cursor: not-allowed;
}