:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffeec;

  --black: #000;
  
  --light-almond: #fffeec;
  --light-almond-2: #fffee0;

  --deep-charcoal: #252525;
  --grey-button: #484848;
  --grey-hover-button: #555555;
}
